@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
    // max-width: 100vw;
}

// #root {
//     max-width: 90vw;
// }
.container,
.section,
.section-header,
.sideroll-section,
.sticky-section {
}

.section-header {
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: $colorSecondary;
    color: $colorPrimary;

    h3 {
        font-size: 72px;
        text-align: left;
        line-height: .9;
        padding: 20px;
    }
}

.container {
    background-color: $colorPrimary;
    color: $colorSecondary;
    max-width: 100vw;
}

h3,
p {
    white-space: pre-line;
}

h3,
h4,
p {
    white-space: pre-line;
    max-width: 85%;
}

p {
    font-size: 48px;
}