@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

#root {
    width: 100%;
}

.section-header {
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: $colorSecondary;
    color: $colorPrimary;

    h3 {
        font-size: 72px;
        text-align: left;
        line-height: .9;
        padding: 20px;
    }
}

.container {
    background-color: $colorPrimary;
    color: $colorSecondary;
}

p {
    // max-width: 480px;
    font-size: 48px;
}