.sideroll-section {
    overflow-x: clip;

    .content {
        width: max-content;
        display: flex;

        .content-background {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('./portfolio-img-3.jpg');
            // background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 0;
        }
        
        .content-item {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;

            p {
                font-size: 48px;
                text-align: center;
                line-height: .9;
            }
        }
    }
}