.sticky-section {
    height: 500vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: blue;
    transition: position 0.5s ease;
}

.sticky-section.static {
    position: static;
}

.content {
    position: sticky;
    top: 0;
    // bottom: 100vh;
    text-align: center;
    transition: opacity 0.5s ease;
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url('./img-1.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &-box {
        width: 100vw;
        height: 100vh;
    }
}

.content p {
    margin-top: 10px;
    font-size: 1.5rem;
}